/*block-1*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-wrap: normal;
    
    
}

.container{
    background-color: #284854;
    width: 1440px;
    height: 799px;
      
}

.menu{
    border: 5px solid  #60C1BD;
    padding: 1.5px;
    border-radius: 100px;
    background-color: #60C1BD;
    margin-left: 113px;
    margin-right:200px;
    display: block;
    
    
}

.menu__title{
    margin: 27px  21px 32px;
}

.content__vet{
    top: 33px;
    right: 659px;
    height: 23px;
    left: 462px;
    position: absolute;
}

.content__hos{
    top: 36px;
    right: 498px;
    height: 20px;
    left: 655px;
    position: absolute;
}

.content__why{
    top: 36px;
    right:278px;
    height: 20px;
    left: 827px;
    position: absolute;
}

.login{
    top: 41px;
    position: absolute;
    height: 21px;
    left: 1097px;
    background-color: #60C1BD;
    color: white;
    border-color: white;
}

.title{
    top: 223px;
    right: 548px;
    left: 180px;
    position: absolute;
    font-size: 65px;
    color: #8BC441;
}

.text{
    top: 487px;
    right: 718px;
    left: 180px;
    text-align:center;
    position: absolute;
    font-size: 20px;
    color: white;
}

img{
    top: 266px;
    right: 187px;
    left: 940px;
    position: absolute;
}

/*mini block vet*/
.mini__block1{
    height: 203px;
    width: 506px;
    border-radius: 2px;
    background-color: #F4F6F0;
    margin-left: 173px;
    margin-top: -65px;
}

.girl{
    top: 764px;
    right: 1136px;
    left: 203px;
    position: absolute;
}

.aply{
    top: 768px;
    right: 853px;
    height: 3170px;
    left: 350px;
    position: absolute;
    color: #8BC441;
}

.text__aply{
    top: 820px;
    right: 908px;
    height: 3107px;
    left: 350px;
    position: absolute;
    color: #60C1BD;
    white-space: nowrap;
}

.mini__block2{
    width: 506px;
    height: 196px;
    border-radius: 2px;
    background-color: #F4F6F0;
    margin-left: 762px;
    margin-top: -205px;
}

.frame__1{
    top: 766px;
    right: 529px;
    left: 792px;
    position: absolute;
}

.hospi{
    top: 764px;
    right: 333px;
    height: 3174px;
    left: 940px;
    position: absolute;
    color: #798B56;
}

.become__2{
    top: 816px;
    right: 312px;
    height: 3111px;
    left: 940px;
    position: absolute;
    color: #60C1BD;
    white-space: nowrap;
}

/*block 2*/

.container-one{
    background-color: white;
    width: 1440px;
    height: 1500px;
}

.small{
    top: 1096px;
    right: 582px;
    height: 2855px;
    left: 558px;
    position: absolute;
}

.big{
    top: 1118px;
    right: 451px;
    height: 2799px;
    left: 530px;
    position: absolute;
}

.content__text{
    top: 1427px;
    right: 269px;
    height: 2432px;
    left: 646px;
    position: absolute;
    color: #60C1BD;
    font-size: 15px;
}

.we{
    top: 1378px;
    right: 415px;
    height: 2556px;
    left: 646px;
    position: absolute;
    color: #8BC441;
}

.stop{
     top: 1341px;
     right: 696px;
     height: 2613px;
     left: 646px;
     position: absolute;
     color: #798B56;
}

.dog-1{
    top: 1325px;
    right: 924px;
    height: 250px;
    left: 231px;
    width: 270px;
}

.next{
    top: 1708px;
    right: 1095px;
    height: 2219px;
    left: 286px;
    position: absolute;
    color: #798B56;
}

.we__two{
    top: 1745px;
    right: 700px;
    height: 2142px;
    left: 286px;
    color: #8BC441;
    position: absolute;
}

.contant__text2{
    top: 1849px;
    right: 704px;
    height: 1988px;
    left: 285px;
    position: absolute;
    color: #284854;
    font-size: 15px;
}

.men{
    top: 1742px;
    right: 217px;
    left: 938;
    
}

.dog_3{
    top: 2121px;
    right: 924px;
    left: 231px;
    position: absolute;
}

.title__3{
    top: 2120px;
    right: 669px;
    height: 1834px;
    left: 646px;
    position: absolute;
    color: #798B56;
}

.title__4{
    top: 2157px;
    right: 297px;
    height: 1730px;
    left: 646px;
    position: absolute;
    color: #8BC441;
}

.contant__text3{
    top: 2284px;
    right: 305px;
    height: 1581px;
    left: 646px;
    position: absolute;
    color: #284854;
}
/*block3*/


.contant-two{
    background-color: darkgray;
    width: 1440px;
    height: 601px;
}

.pets_4{
    top: 2569px;
    right: 807px;
    left: 200px;
    position: absolute;
}

.title__5{
    top: 2564px;
    right: 530px;
    height: 1387px;
    left: 745px;
    position: absolute;
    color: #60C1BD;
    
    
}

.title__6{
    top:2599px ;
    right: 381px;
    height: 1318px;
    left: 745px;
    position: absolute;
    color: #284854;
}

.contant__text4{
    top: 2694px;
    right: 191px;
    height: 1125px;
    left: 745px;
    position: absolute;
    color: #284854;
}

button{
    top: 2914px;
    right: 548px;
    left: 780px;
    position: absolute;
    background-color: darkgray;
    
}







.contant-thee{
    background-color: #8BC441;
    width: 1440px;
    height: 438px;
}

.sounds{
   top: 3184px;
   right: 339px;
   height: 224px;
   left: 585px;
   position: absolute;
   color: #F4F6F0;
   font-size: 45px;
}

.text__one{
    top: 3369px;
    right: 616px;
    height: 86px;
    left: 585px;
    position: absolute;
    color: white;
    font-size: 15px;
}

.text__two{
    top: 3369px;
    right: 274px;
    height: 86px;
    left: 956px;
    position: absolute;
    color: white;
    font-size: 15px;
}

.dog__44{
    top: 3187px;
    right: 1020px;
    left: 185px;
    position: absolute;
}

.contant-four{
    background-color: white;
    width: 1400px;
    height: 438px;
}

.title__v{
    top: 3656px;
    right: 1155px;
    height: 307px;
    left: 152px;
    position: absolute;
    color: #284854;
    font-size: 15px;
}

.explore{
    top: 3699px;
    right: 1182px;
    height: 264px;
    left: 152px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.become{
    top: 3736px;
    right: 1165px;
    height: 226px;
    left: 152px;
    position: absolute;
    margin-top:  20px;
    white-space: nowrap;
    color: #60C1BD;
}

.faq{
    top: 3773px;
    right: 1142px;
    height: 189px;
    left: 152px;
    margin-top: 40px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.title__h{
    top: 3656px;
    right: 913px;
    height: 307px;
    left: 436px;
    position: absolute;
    color: #284854;
    font-size: 15px;
}

.part{
    top: 3699px;
    right: 844px;
    height: 263px;
    left: 436px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.become__1{
    top: 3736px;
    right: 889px;
    height: 226px;
    left: 436px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
    margin-top: 15px;
}

.asked{
    top: 3773px;
    right: 824px;
    height: 189px;
    left: 436px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
    margin-top: 40px;
}

.find__us{
    top: 3656px;
    right: 326px;
    height: 307px;
    left: 1047px;
    position: absolute;
    color: #284854;
    font-size: 15px;
    white-space: nowrap;
}

.sprin{
    top: 3699px;
    right: 204px;
    height: 263px;
    left: 1047px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.suite{
    top: 3722px;
    right: 323px;
    height: 240px;
    left: 1047px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.PA{
    top: 3745px;
    right: 224px;
    height: 217px;
    left: 1047px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;;
}

.number__1{
    top: 3793px;
    right: 285px;
    height: 169px;
    left: 1047px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.number__2{
    top: 3816px;
    right: 281px;
    height: 146px;
    left: 1047px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.dog__5{
    top: 3650px;
    right: 542px;
    left: 720px;
    position: absolute;
}

.bottom__one{
    top: 3900px;
    right: 1192px;
    height: 99px;
    left: 152px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.bottom__two{
    top: 3900px;
    right: 1123px;
    height: 99px;
    left: 287px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.bottom__three{
    top: 3900px;
    right: 1056px;
    height: 99px;
    left: 356px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.bottom__four{
    top: 3900px;
    right: 946px;
    height: 99px;
    left: 423px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.bottom__five{
    top: 3900px;
    right: 871px;
    height: 99px;
    left: 533px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.bottom__six{
    top: 3900px;
    right: 742px;
    height: 99px;
    left: 608px;
    position: absolute;
    white-space: nowrap;
    color: #60C1BD;
}

.bottom__seven{
    top: 3919px;
    right: 1182px;
    height: 40px;
    left: 152px;
    position: absolute;
    white-space: nowrap;
    margin-top: 37px;
    color: #284854;
}





