/*block-1*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container{
    background-color: #284854;
    width: 1440px;
    height: 799px;
      
}

.menu{
    border: 5px solid  #60C1BD;
    padding: 5px;
    border-radius: 100px;
    background-color: #60C1BD;
    margin-left: 113px;
    margin-right:200px;
    display: block;
}

.menu__title{
    margin: 27px  21px 32px;
}

.content__vet{
    top: 33px;
    right: 659px;
    height: 23px;
    left: 462px;
    position: absolute;
}

.content__hos{
    top: 36px;
    right: 498px;
    height: 20px;
    left: 655px;
    position: absolute;
}

.content__why{
    top: 36px;
    right:278px;
    height: 20px;
    left: 827px;
    position: absolute;
}

.login{
    top: 41px;
    position: absolute;
    height: 21px;
    left: 1097px;
    background-color: #60C1BD;
    color: white;
    border-color: white;
}

.title{
    top: 223px;
    right: 548px;
    left: 180px;
    position: absolute;
    font-size: 65px;
    color: #8BC441;
}

.text{
    top: 487px;
    right: 718px;
    left: 180px;
    text-align:center;
    position: absolute;
    font-size: 20px;
    color: white;
}

img{
    top: 266px;
    right: 187px;
    left: 940px;
    position: absolute;
}

/*mini block vet*/

section{
    width: 506px;
    height: 203px;
    border-radius: 4px;
    margin-left: 173px;
    background-color: #b0b1af;
    
}

h5 .blockvet{
    width: 237px;
    height: 43px;
    top: 0.5px;
    left: -0.14px;
    
}
/*block 2*/

.container-one{
    background-color: white;
    width: 1440px;
    height: 1500px;
}

.small{
    top: 1096px;
    right: 582px;
    height: 2855px;
    left: 558px;
    position: absolute;
}

.big{
    top: 1118px;
    right: 451px;
    height: 2799px;
    left: 530px;
    position: absolute;
}

.content__text{
    top: 1427px;
    right: 269px;
    height: 2432px;
    left: 646px;
    position: absolute;
    color: #60C1BD;
    font-size: 15px;
}

.we{
    top: 1378px;
    right: 415px;
    height: 2556px;
    left: 646px;
    position: absolute;
    color: #8BC441;
}

.stop{
     top: 1341px;
     right: 696px;
     height: 2613px;
     left: 646px;
     position: absolute;
     color: #798B56;
}

.dog-1{
    top: 1325px;
    right: 924px;
    height: 250px;
    left: 231px;
    width: 270px;
}

.next{
    top: 1708px;
    right: 1095px;
    height: 2219px;
    left: 286px;
    position: absolute;
    color: #798B56;
}

.we__two{
    top: 1745px;
    right: 700px;
    height: 2142px;
    left: 286px;
    color: #8BC441;
    position: absolute;
}

.contant__text2{
    top: 1849px;
    right: 704px;
    height: 1988px;
    left: 285px;
    position: absolute;
    color: #284854;
    font-size: 15px;
}

.men{
    top: 1742px;
    right: 217px;
    left: 938;
    
}
/*block3*/


.contant-two{
    background-color: darkgray;
    width: 1440px;
    height: 601px;
}







.header-thee{
    background-color: #8BC441;
    width: 1440px;
    height: 438px;
}

.header-four{
    background-color: white;
    width: 1400px;
    height: 438px;
}





